// Navigation Styles here
.navigation-container{
    padding:2%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 2px dashed @navigation-border;

    .navbar{
        width:50%;
        
        a{
            text-decoration: none;
            color:black;
            padding:0 20px;
        }
    }

}

